<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="OTOI_ADD.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="OTOI_ADD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="OTOI_ADD.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
 <userSettings>
  <OTOI_ADD.Properties.Settings>
   <setting name="CFG_LOAD" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DIRECTORY" serializeAs="String">
    <value>C:\OTOI_ADD\downloads</value>
   </setting>
   <setting name="THEME" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LANG" serializeAs="String">
    <value>ES</value>
   </setting>
   <setting name="START" serializeAs="String">
    <value>2023-01-01</value>
   </setting>
   <setting name="END" serializeAs="String">
    <value>2023-01-31</value>
   </setting>
   <setting name="DAY" serializeAs="String">
    <value>2023-01-01</value>
   </setting>
   <setting name="MONTH" serializeAs="String">
    <value>2023-01-01</value>
   </setting>
   <setting name="O_PROCESS" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="O_KEEP" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="E_UNZIP" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="E_KEEP" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="E_PROCESS" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CFG_SAVE" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FILE" serializeAs="String">
    <value>Por defecto</value>
   </setting>
  </OTOI_ADD.Properties.Settings>
 </userSettings>
</configuration>